*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    height: 150vh;
    background-color: rgb(248, 241, 231);
}
#nav{
    height: 56px;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: rgb(248 241 231);
}
.king{

    width: 167px;
    height: 20px;
    margin-left: 340px;
   margin-top: 17px;
}
.bar{
    margin: 20px 0px 20px 160px;
    color: darkred;
}
.fa-bag-shopping{
    margin-left: 5px;
    color: white;
    
}

.fa-user{
    margin-left: 250px;
    color: darkred;
    font-size: larger;
}
span{
    font-size: 30px;
    margin-left:350px;
}
.border{
    height: 430px;
    width: 490px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.border2{
    height: 400px;
}
.img{
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.head{
    font-size: larger;
    font-family: "Flame-RegularSans";
    color: brown;
    font-weight: bold;
    padding: 10px 0px;
    text-align: justify;
}

.text{
    color: brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.card-border{
    padding: 20px 20px;
}
.button{
    color: rgb(214, 35, 0);
    border-radius: 40px;
    font-weight: bolder;
    border:rgb(214, 35, 0) solid 1px;
    background-color: transparent;
   
}
.button1
{
    padding: 10px 16px;
    margin-left: 350px;
}
.button2{
    padding: 10px 16px;
    margin-left: 290px;
}
.button3{
    padding: 6px 10px;
    margin-left: 180px;
}
.button4{
    padding: 10px 16px;
    margin-left: 340px;
   
}
.account{
    color: darkred;
}
.fa-solid{
    margin-right: 7px;
    
}
.deliver{
    padding: 18px 85px;
    font-size: xx-small;
    margin:18px 5px;
}
.cart{
    padding: 10px 13px;
    font-size: xx-small;
    margin-left: 0px;
    background-color:rgb(214, 35, 0);
    color: white;
    font-weight: bold;
}
.order{
    padding: 18px 88px;
    font-size: xx-small;
    margin-left: 10px;
    background-color:rgb(214, 35, 0);
    color: white;
}

.order:hover,.cart-hover:hover{
    background-color:rgb(171, 29, 0);
}
.deliver:hover,.button-hover:hover{
    background-color: #acacac4d;
}
/*a{
    font-size: xx-small;
    margin-left: 20px;
}*/
.Bk{
    color: rgb(80, 35, 20);
    font-family: Flame-Bold;
    margin: 100px 40px 20px 150px;
}
h1{
    font-family: "Flame Bold";
    font-size: 58px;
}
img[alt="title"]
{
    height: 360px;
    width: 650px;
    margin: 0;
}
#Cards{
    margin: 100px 150px
}

.padding{
    
}
.border{
    margin: 6px;
}
.base{
    width:100%;
    height: 480px;
    background-color: rgb(238 232 222);  
}
.base,td,tr{
    border: 2px;
}
#scan{
    width: 400px;
    height: 420px;
}
img[alt="scanner"]{
    width: 370px;
    height: 356px;
    display: inline-block;
    margin-left: 200px;
}
img[alt="Gplay"],img[alt="apple"]{
    width: 187px;
    height: 53px; 
    display:inline-block;
    margin: 20px 0px 0px 00px;
}
img[alt="Gplay"]{
    margin-left: 10px;
    color: rgb(80, 35, 20);
}
.apple{
 width: 470px;
 color: rgb(80, 35, 20); 
 font-size: 14px;
 padding: 10px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 599;
 
}
.save{
    font-family: "Flame Bold";
    font-size: 50px;
    color: rgb(80, 35, 20); 
}
.div-class{
    width: 400px;
}

#footer{
    height: 40px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border-top: ;
    display: block; 
    background-color: rgb(248 241 231);
    box-shadow: rgb(255, 255, 255) 0px -1px 1px;
}
img[alt="menu"],[alt="rewards"],[alt="home"],[alt="tag"]{
    width:17px;
    height: 19px;
    border-radius: 0;
    margin: 15px 145px 1px;
    
}
#copyright{
    height: 50px;
    width: 100%;
    background-color:rgb(80, 35, 20) ;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 13px;
    font-size: 13px;
}
#copyright a{
    color:white  ;
}
#footer a{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(248 241 231);
    
}
.content-wrapper{
flex: 1;
}
.F-text{
    margin: 0px 138px 15px;
    font-size: 1px;
    color: rgb(80, 35, 20);
    line-height: 1.125em;
    padding-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: rgb(248 241 231);
}

.home{
    font-weight:bolder;

}
header{
    position: fixed;
}
header{
    top: 0px;
}
footer{
    position: sticky;
    bottom: 15px;
    background-color: rgb(248 241 231);
}
#foot{
    background-color: rgb(248 241 231);
}

