*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
   background-color:#f0f2f5;
}
.title{
    height: 50px;
    width: 100%;
}
img{
    display: block;
   margin: 20px auto 60px;
    width: 300px;
}

.form{
    height: 76px;
    width: 400px;
    margin: 50px auto auto;
    border: 1px solid #dadde1;
    
    border-radius: 8px 8px 0 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form div{
    font-size: 25px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
}
.top{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: larger;
    text-align: center;
    color: #606770;
}
form{
    height: 580px;
    width: 400px;
    border: 1px solid #dadde1;
    margin:  auto;
    background-color: white;
    padding: 16px;
    border-radius: 0 0 8px 8px;
}
input[type="text"]{
    padding: 11px 13px;
    border-radius: 6px;
    border: 1px solid #dadde1;
}
input[name="Surname"]{
    margin-left: 16px;
}
form label{
    margin: 2px 0px 4px;
}
select{
    padding-left: 8px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    height: 36px;
    width: 110px;
    margin: 3px;
    border-radius: 6px;
    border: 1px solid #dadde1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.lable{
    color: #606770;

}
span{
    padding: 9px;
    height: 36px;
    width: 110px;
    margin: 50px 0px;
    border-radius: 6px;
    border: 1px solid #dadde1;
}
input[type=email],[type=password]{
width: 100%;
padding: 11px 13px;
border-radius: 6px;
border: 1px solid #dadde1;
margin: 10px 0px;
}
input[type=email]:focus{
border: 2px solid black;
}
select[name="pronoun"]{
    display: block;
    width: 100%;
    margin: 10px 0px;
}
.gender{
    margin: 20px 5px;
}
.gender span{

    margin: 8px 5px 5px 5px;
    padding: 10px 26px;
}
p{
    font-size: 2px;
    padding: 10px;
}
a{
    color: rgb(56, 88, 152);
    text-decoration: none;
    
}
button{
    padding: 10px 50px;
    margin: 10px auto 20px;
    display: block;
    border: none;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 6px;
    background-color: rgb(0, 164, 0);
}
.dob,.gender1{
    margin-left:9px;
}

input::placeholder{
    font-size: larger;
}
#last{
    display: block;
    text-align: center;
    color: blue;
    font-size: 16px;
}
.a:hover{
    text-decoration: underline;
}